article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* fade in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
/* slide animation */
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
  25%{
      opacity: 0.5;
  }
  50%{
    -webkit-transform: translateX(150px);
            transform: translateX(150px);  
            opacity: 1;   
  }
  75%{
      opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
}

/* slide and disappear */
@keyframes slide-disappear {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;   
  }
  75%{
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
            opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;   
  }
  75%{
      opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
            opacity: 0;
  }
}

*{
    font-family: 'Kurale', serif;
    color:white;
}
body{
    background: fixed linear-gradient(to bottom, #903D64, #1B1115);
    /* background: fixed; */
    height: 100vh;
    padding: 30px 40px;
    text-shadow: 0 2px 3px #000;
}
.inner-wrapper{
    /* width: 95%; */
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 120px;
    padding: 15px;
}
@media (min-width: 768px) {
   .wrapper{
        max-width: 80%;
        margin: 0 auto;
        padding: 0 50px;
        border-left: 1px solid #707070;
        border-right: 1px solid #707070;
    } 
}
@media (min-width: 940px) {
    .wrapper{
        max-width: 50%;
    }
}
h1,
h2,
input{
    margin: 0 0 50px 0;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    position: relative;
    bottom: 120px;
}
span:first-of-type{
    position: relative;
    bottom: 10px;
}
span:first-of-type + span{
    font-size: 60px;
    font-weight: 100;
}
h2{
    width: 100%;
    text-align: left;
}
.splash{
    position: relative;
}
.clouds{
    position: absolute;
}
.clouds.left{
    left: -60px;
}
.clouds.left.top{
    top: 40px;
    animation: slide-right 10s ease-out infinite;
}
.clouds.left.bottom{
    top: 430px;
    animation: slide-disappear 8s infinite;
}
.clouds.right{
    right:0;
    top: 230px;
    animation: slide-left 8s infinite;
}
.cloud{
    display: block;
    position: absolute;
    height: 45px;
    border-radius: 100px 100px;
}
.cloud1{
    left:-30px;
    width: 200px;
    background: rgba(255,255,255,0.3);
}
.cloud2{
    top:45px;
    left:-80px;
    width: 300px;
    background: rgba(255,255,255,0.4);
}
.cloud3{
    top:90px;
    left:-40px;
    width: 200px;
    background: rgba(255,255,255,0.5);
}
.cloud4{
    right:-50px;
    width: 180px;
    background: rgba(255,255,255,0.6);
}
.cloud5{
    top:45px;
    right:-20px;
    width: 250px;
    background: rgba(255,255,255,0.7);
}
.cloud6{
    top:90px;
    right:-40px;
    width: 220px;
    background: rgba(255,255,255,0.8);
}
.cloud7{
    left:-50px;
    width: 250px;
    background: rgba(255,255,255,0.9);
}
.cloud8{
    top:45px;
    left: 10px;
    width: 250px;
    background: rgba(255,255,255,1);
}

.splash,
.ask-screen,
.response-style{
    height:100vh;
}
.splash,
.ask-screen,
.response-style,
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=text]{
    background: none;
    border: none;
    border-bottom: 1px solid #707070;
}
.btn-refresh{
    display:none; 
    position: absolute;
    bottom: 150px;
}
.btn-style{
    background: none;
    padding: 5px 10px;
    border: none;
    position: relative;
    animation: fade-in 2s both;
}
.response-style p {
    animation: fade-in 2s both;
}
.btn-style:before{
    content: "";
    width: 120%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;
}
.btn-refresh.visible{
    display: block;
    margin: 0 auto;
}
.response-style p {
    text-align: center;
}